@charset "UTF8";

.app-bar {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        height: 60px;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        position: fixed;
        top: 0;
        left: 0;
        z-index:2;
      }

      .app-bar.open {
        -webkit-transform: translate(300px,0);
        transform: translate(300px,0);
      }

      /* .app-bar .logo {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        font-size: 20px;
        line-height: 60px;
        margin: 0 16px;
        color: #ceccc6;
        float: none;
        max-width: none;
      } */

      .app-bar .logo a {
        text-decoration: none;
        color: inherit;
        font-weight: normal;
      }

      .app-bar-actions  {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
      }

      .app-bar button, .bottom-bar button {
        width: 44px;
        height: 44px;

        background-image: none;
        background-color: transparent;
        border: none;

/*
        border-style: solid;
        border-radius: 100%;
        border-color: rgb(254, 254, 254);
*/

        padding: 8px;
        margin: 8px;

        -webkit-transition: border 300ms ease-in,background 300ms ease-in;
        transition: border 300ms ease-in,background 300ms ease-in;

        -webkit-tap-highlight-color: transparent;
      }

      .app-bar button img {
        width: 28px;
        height: 28px;
      }

      .app-bar button.menu {
        position: relative;
          /* top: -30px;
          left: -30px; */
      }

      .app-bar button.menu img {
        position: absolute;
        top: 8px;
        left: 8px;
      }

      .app-bar button.menu .menu-icon {
        opacity: 1.0;
      }

      .app-bar button.menu .close-icon {
        opacity: 0.0;
      }

      .app-bar.open button.menu .menu-icon {
        opacity: 0.0;
      }

      .app-bar.open button.menu .close-icon {
        opacity: 1.0;
      }

      .app-bar button:hover, .bottom-bar button:hover {
        border-color: transparent;
        background-color: rgba(254, 254, 254, 0.4);
      }

      .app-bar button:focus, .bottom-bar button:focus {
        border-color: transparent;
        outline: 0;
        background-color: rgba(254, 254, 254, 0.4);
      }

      .app-bar button:active, .bottom-bar button:active {
        border-color: transparent;
        background-color: rgba(254, 254, 254, 0.4);
      }



      .navdrawer-container {
        position: fixed;
          top: 0;
          /* bottom: -10px; */
        width: 250px;
        /* height: 100%; */
        /* background: #fff; */
        color: #ceccc6;
	    font-weight: 300;
        text-decoration: none;
	    text-transform: uppercase;
        letter-spacing: 1px;
/*	    text-shadow: 0 0 1px rgba(255,255,255,0.3);*/
	    font-size: 1.1em;
        -webkit-transform: translate(-275px,0);
        transform: translate(-275px,0);
        z-index: 2;
      }

      .navdrawer-container.open {
        -webkit-transform: translate(30px,0);
        transform: translate(30px,0);
      }

      .navdrawer-container ul {
        list-style-type: none;
        height: 100%;
          background-color: rgba(51, 51, 51, 0.0);
      }

      .navdrawer-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(51, 51, 51, 0.0);
        /** Unfortunately this is the best way
        to get no paints in Chrome **/
        opacity: 0.0000001;
        z-index: 1;
        pointer-events: none;
      }

      .navdrawer-bg.open {
        opacity: 1;
      }

      .navdrawer-container {
        -webkit-transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
      }

      .navdrawer-bg {
        -webkit-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
      }

      .navdrawer-container ul li a {
        display: block;
        color: #ceccc6;
        background-color: rgba(0, 0, 0, 0.76);
        height: 60px;
        width: 245px;
        margin-left: -40px;
        padding: 0 20px 0 50px;
        line-height: 60px;
        text-decoration: none;
      }

      .navdrawer-container ul li a:hover {
        background-color: rgba(255, 255, 255, 1);
        color: black;
        /* text-shadow: 0px 0px 12px #0A0A0A; */
      }

 .navdrawer-container ul li a:focus {
        background-color: rgba(255, 255, 255, 0.3);
        outline: 0;
        color: #ceccc6;
      }

      .navdrawer-container ul li a:active {
        background-color: rgba(255, 255, 255, 0.4);
        color: #ceccc6;
      }
